html {
    width: 330px;
    overflow-y: overlay;
}
#headbar{
    position: sticky;
    top: 0px;
    background: white;
    z-index: 9999;
    padding-bottom: 20px;
}

#infobar{
    /* position: sticky; */
    display: flex;
    margin-bottom: 10px;
}

#menubar{
    display: flex;
    justify-content: space-evenly;
}

#toolbar {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* width: 100%; */
    display: none;
    border: 1px dotted dodgerblue;
    margin: 4px;
    padding: 15px;
    /* min-width: 200px; */
}

#toolbar>button {
    /* text-align: center; */
    height: 30px;
    width: 100%;
    margin: 3px 0 0 0;
}

#search{
    outline: none;
    border-width: 0 1px 1px 0;
    border-color: #9e80bb;
    margin: 10px;
    color: blueviolet;
    border-radius: 5px;
    height: 70%;
    width: 70%;
}

.hidden {
    display: none;
}

.art-link {
    display: block;
    align-items: center;
    color: rgb(37, 37, 37)
        /* justify-content: space-between; */
}

.art-link>img {
    width: 15px;
    height: 15px;
}

ol {
    padding-inline-start: 0 !important;
}

li {
    margin: 0 15px 15px 15px;
    border-radius:5px;
}

li>div {
    display: flex;
    align-items: baseline;
}


li:hover {
    background-color: #8a2be259

}

#container-art {
    margin-left: 10px;
}

.art-index {
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid blueviolet;
}

.art-info {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.art-title {
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.art-host {
    color: rgb(63, 63, 63);

    font-size: 70%;
}

.art-link {
    display: -webkit-inline-box;

}

.art-link:hover {
    color: inherit;
    text-decoration: none;
}

.art-action {
    right: 0;
    padding-right: 15px;
}

#count-art {
    color: blueviolet;
    margin: 10px;
    width: 90px;
}

.glyphicon:hover {
    cursor: pointer;
    background-color: gray;
}

div.check-delete.not-show {
    position: fixed;
    bottom: 0;
    right: 0;
}

.not-show {
    display: none;
}

#toast {
    background-color: #aaa;
    color: blueviolet;
    height: 67px;
    position: fixed;
    bottom: 0px;
}


.group-item{
    display:inline-block;
}

.group-item:hover{
    cursor: pointer;
    font-weight:600
}
#container-group > .group-item{
    margin: 15px;
    border-bottom: solid 1px rgb(70, 70, 70);
}


.remove-group{
    margin-right: 10px;
    border: 1px solid rgb(133, 133, 133);
    opacity:50%;
    border-radius:30%
}

.remove-group:hover{
    border: 1px solid rgb(56, 56, 56);
    font-weight: 600;
    cursor: pointer;
    color:red
}

.remove-group:hover + .group-item{
    font-weight: 600;
    color:red
}

.group-icons{
    position: absolute;
    right: 0;
    padding-right: 15px;
}

button{
    border-radius:5px;
    border-width:1px;
    outline:none;
    border-color:blueviolet

}

button:hover{
    background-color:#8a2be259;
}

